
@import url("./_header.css");
@import url("./_main.css");
@import url("./_footer.css");
@import url("./_modal.css");

@font-face {
    font-family: cantarell;
    src: url(../fonts/Cantarell-Regular.woff);
  }
  @font-face {
    font-family: cantarell-bold;
    src: url(../fonts/Cantarell-Bold.woff);
  }
  
  *{
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
      padding: 0;
  }

