body,ul,li,p{
  margin: 0;
  padding:0;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  color: #fff;
  text-decoration: none;
}
h1{
  text-align: center;
  margin-top: 200px;
}

img{
  max-width: 100%;
  display: block;
}
.header{
  align-items: center;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.menu{
  display: flex;
  
}
.menu li{
  margin: 10px;
}
.menu li a{
  display: block;
  padding: 10px;
}


  
  

